body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 4vh;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-container {
  flex: 0 0 100%;
  margin-bottom: 20px;
  text-align: center;
}

.input-container label {
  margin-right: 10px;
}

.input-container input {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.input-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container {
  flex: 0 0 calc(47.5% - 20px);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden; /* Prevent container from expanding due to long content */
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  word-wrap: break-word; /* Wrap long words onto the next line */
}

.card {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-item {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #eaf7ea;
}

.error-message {
  color: red;
  font-weight: bold;
}
